<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <title>Update teacher</title>
    <meta th:insert="~{fragments/head}">
</head>
<body>

<header th:insert="~{fragments/header :: header}"></header>

<form class="my-form" th:method="${entity.getId() == null} ? 'POST' : 'PUT'" th:action="${entity.getId() == null} ? @{/students} : @{/students/{id}(id=${entity.getId()})}" th:object="${entity}">

    <div class="mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" class="form-control" th:field="*{firstName}" id="firstName">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" th:field="*{lastName}" id="lastName">
    </div>

    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" th:field="*{age}" id="age">
    </div>

    <div>
        <label for="groupId" class="form-label">Group</label>
        <select class="form-select" aria-label="Default select example" th:field="*{groupId}" id="groupId">
            <option th:each="group : ${groups}" th:value="${group.getId()}" th:text="${group.getAbbreviation()}">
            </option>
        </select>
    </div>
    <br/>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary text-align: right" href="/students" th:href="@{/students}">Cancel</a>

</form>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
