<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>

<p th:text="${entity.getFirstName()}">VALUE</p>
<p th:text="${entity.getLastName()}">VALUE</p>
<p th:text="${entity.getAge()}">VALUE</p>
<p th:text="${group.getAbbreviation()}">VALUE</p>

<a th:href="@{/students/{id}/edit(id=${entity.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/students/{id}(id=${entity.getId()})}">
    <input type="submit" value="Delete!"/>

</form>
</body>
</html>
