<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update group</title>
</head>
<body>

<form th:method="PUT" th:action="@{/groups/{id}(id=${entity.getId()})}" th:object="${entity}">

    <label for="departmentId">Select department name</label>
    <select th:field="*{departmentId}" id ="departmentId">
        <option th:each="department : ${departments}" th:value="${department.getId()}" th:text="${department.getName()}">
        </option>
    </select>
    <br/>
    <label for="courseId">Select course establish year</label>
    <select th:field="*{courseId}" id ="courseId">
        <option th:each="course : ${courses}" th:value="${course.getId()}" th:text="${course.getEstablishYear()}">
        </option>
    </select>
    <br/>
    <label for="groupNumber">Select group number</label>
    <select th:field="*{groupNumber}" id ="groupNumber">
        <option th:each="i : ${#numbers.sequence(1, 9)}" th:value="${i}" th:text="${i}">
        </option>
    </select>
    <br/>

    <input type="submit" value="Update!"/>
</form>

</body>
</html>
