<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <title>All groups</title>
    <meta th:insert="~{fragments/head}">
</head>
<body>

<header th:insert="~{fragments/header :: header}"></header>

<p class="h3 text-center">Our groups</p>

<table class="table-bordered border-primary text-center caption-top">
    <caption>Groups</caption>

    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Group abbreviation</th>
        <th scope="col">Department name</th>
        <th scope="col">Course establish year</th>
        <th scope="col">Group number</th>
        <th scope="col" class="my-col"></th>
    </tr>
    </thead>

    <div th:each="groupDTO : ${groupDTOS}">
        <tbody>
        <td th:text="${groupDTOStat.count}">Number</td>
        <td th:text="${groupDTO.getAbbreviation()}">Group abbreviation</td>
        <td th:text="${groupDTO.getDepartmentName()}">Department name</td>
        <td th:text="${groupDTO.getCourseEstablishYear()}">Course establish year</td>
        <td th:text="${groupDTO.getGroupNumber()}">Group number</td>
        <td class="my-td">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a th:href="@{/groups/{id}/edit(id=${groupDTO.getId()})}" class="btn btn-primary">Edit</a>
                <form th:method="DELETE" th:action="@{/groups/{id}(id=${groupDTO.getId()})}">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </td>
        </tbody>
    </div>

    <tfoot>
    <tr class="my-tr">
        <td id="td-bottom">
            <a href="/groups/new" class="btn btn-primary" id="add-new-button">Add new</a>
        </td>
    </tr>
    </tfoot>

</table>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
