<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <title>Update Department</title>
    <meta th:insert="~{fragments/head}">
</head>
<body>

<header th:insert="~{fragments/header :: header}"></header>

<form class="my-form" th:method="${entity.getId() == null} ? 'POST' : 'PUT'" th:action="${entity.getId() == null} ? @{/departments} : @{/departments/{id}(id=${entity.getId()})}" th:object="${entity}">

    <div class="mb-3">
        <label for="name" class="form-label">Enter name</label>
        <input type="text" class="form-control" th:field="*{name}" id="name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary text-align: right" href="/departments" th:href="@{/departments}">Cancel</a>

</form>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
