<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta th:insert="~{fragments/head}">
    <title>All courses</title>
    <meta th:insert="~{fragments/head}">
</head>
<body>

<header th:insert="~{fragments/header :: header}"></header>

<p class="h3 text-center">Our departments</p>

<table class="table-bordered border-primary text-center caption-top">
    <caption>Departments</caption>

    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Department name</th>
        <th scope="col" class="my-col"></th>
    </tr>
    </thead>

    <div th:each="entity : ${entities}">
        <tbody>
        <td th:text="${entityStat.count}">Number</td>
        <td th:text="${entity.getName()}">Department name</td>
        <td class="my-td">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a th:href="@{/departments/{id}/edit(id=${entity.getId()})}" class="btn btn-primary">Edit</a>
                <form th:method="DELETE" th:action="@{/departments/{id}(id=${entity.getId()})}">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </td>
        </tbody>
    </div>

    <tfoot>
    <tr class="my-tr">
        <td id="td-bottom">
            <a href="/departments/new" class="btn btn-primary" id="add-new-button">Add new</a>
        </td>
    </tr>
    </tfoot>

</table>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
