<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <title>Main menu</title>
    <meta th:insert="~{fragments/head}">
</head>
<body>
    <header th:insert="~{fragments/header}"></header>
    <div class="container">
        <h2 class="text-center">Welcome to MPI - the best university in the universe!</h2>
        <div class="history">
            <h3>MPI History</h3>
            <p>
                <img src="https://mgimo.ru/upload/medialibrary/1a2/1a21c140168b3b719b84b7d4948e4262.jpg" alt="MPI-logo"/>
                For more than seven decades MPI has become one of the leading Russian universities,
                training specialists in 18 areas: international relations,
                foreign regional studies, economics, law, journalism,
                political science, advertising and public relations, sociology, management,
                trade, ecology and environmental management, state and municipal
                management, finance and credit, linguistics, teacher education,
                psychology, personnel management, business informatics.
            </p>
        </div>
    </div>
    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
