<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
</head>
<body>

<p>Please select an option</p>
<ol>
    <li><a href="/students/new" th:href="@{/students/new}">Create new Student!</a></li>
    <li><a href="/teachers/new" th:href="@{/teachers/new}">Create new Teacher!</a></li>
    <li><a href="/courses/new" th:href="@{/courses/new}">Create new Course!</a></li>
    <li><a href="/groups/new" th:href="@{/groups/new}">Create new Group!</a></li>
    <li><a href="/departments/new" th:href="@{/departments/new}">Create new Department!</a></li>
    <li><a href="/classrooms/new" th:href="@{/classrooms/new}">Create new Class room!</a></li>
    <li><a href="/lessons/new" th:href="@{/lessons/new}">Create new Lesson!</a></li>
</ol>

<br/>

<a href="/lessons">Timetable!</a>

</body>
</html>
