<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <title>Update Lesson</title>
    <meta th:insert="~{fragments/head}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('#date-picker').datetimepicker({
                format: 'DD.MM.YYYY HH:mm'
            });
        });
    </script>

</head>
<body style="padding-bottom: 390px;">

<header th:insert="~{fragments/header :: header}"></header>

<form class="my-form" th:method="${entity.getId() == null} ? 'POST' : 'PUT'" th:action="${entity.getId() == null} ? @{/lessons} : @{/lessons/{id}(id=${entity.getId()})}" th:object="${entity}">

    <div class="mb-3">
        <label for="name" class="form-label">Lesson name</label>
        <input type="text" class="form-control" th:field="*{name}" id="name">
    </div>

    <div class="mb-3">
        <label for="groupId" class="form-label">Group</label>
        <select class="form-select" aria-label="Default select example" th:field="*{groupId}" id="groupId">
            <option th:each="group : ${groups}" th:value="${group.getId()}" th:text="${group.getAbbreviation()}">
            </option>
        </select>
    </div>

    <div class="mb-3">
        <label for="teacherId" class="form-label">Teacher</label>
        <select class="form-select" aria-label="Default select example" th:field="*{teacherId}" id="teacherId">
            <option th:each="teacher : ${teachers}" th:value="${teacher.getId()}" th:text="${teacher.getFirstName() + ' ' + teacher.getLastName() + ', ' + teacher.getAge()}">
            </option>
        </select>
    </div>

    <div class="mb-3">

        <label for="date-picker" class="form-label">Date time</label>

            <div class="form-group">
                <div class='input-group date' id='date-picker'>
                    <input type='text' class="form-control" id="dateTime" name="dateTime" th:value="${#temporals.format(entity.getDateTime(), 'dd-MM-yyyy HH:mm')}" />
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

    </div>

    <div class="mb-3">
        <label for="classRoomId" class="form-label">Class room</label>
        <select class="form-select" aria-label="Default select example" th:field="*{classRoomId}" id="classRoomId">
            <option th:each="classroom : ${classrooms}" th:value="${classroom.getId()}" th:text="${classroom.getClassNumber()}">
            </option>
        </select>
    </div>

    <br/>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary text-align: right" href="/lessons" th:href="@{/lessons}">Cancel</a>

</form>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
