<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All lessons</title>
</head>
<body>

<div th:each="entity : ${entities}">
    <a th:href="@{/lessons/{id}(id=${entity.getId()})}"
       th:text="${'lesson ' + entity.getName() + ' for group with id = ' + entity.getGroupId() + ' and teacher with id = ' + entity.getTeacherId() + ' starts at ' + #temporals.format(entity.getDateTime(), 'dd.MM.yyyy HH:mm')}">lesson</a>
</div>

<br/>
<hr/>

<a href="/lessons/new">Create new Lesson!</a>

</body>
</html>
