<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <title>All lessons</title>
    <meta th:insert="~{fragments/head}">
</head>
<body>

<header th:insert="~{fragments/header :: header}"></header>


<p class="h3 text-center">Timetable</p>



<table class="table-bordered border-primary text-center caption-top">
    <caption>Timetable</caption>

    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Lesson name</th>
        <th scope="col">Group</th>
        <th scope="col">Teacher</th>
        <th scope="col">Date time</th>
        <th scope="col">Class room</th>
        <th scope="col" class="my-col"></th>
    </tr>
    </thead>

    <div th:each="entity : ${entities}">
        <tbody>
        <td th:text="${entityStat.count}">Number</td>
        <td th:text="${entity.getName()}">Lesson name</td>
        <td th:text="${entity.getGroup().buildAbbreviation()}">Group</td>
        <td th:text="${entity.getTeacher().getFirstName() + ' ' + entity.getTeacher().getLastName()}">Teacher</td>
        <td th:text="${#temporals.format(entity.getDateTime(), 'dd.MM.yyyy HH:mm')}">Date time</td>
        <td th:text="${entity.getClassRoom().getClassNumber()}">Class room number</td>
        <td class="my-td">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a th:href="@{/lessons/{id}/edit(id=${entity.getId()})}" class="btn btn-primary">Edit</a>
                <form th:method="DELETE" th:action="@{/lessons/{id}(id=${entity.getId()})}">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </td>
        </tbody>
    </div>

    <tfoot>
    <tr class="my-tr">
        <td id="td-bottom">
            <a href="/lessons/new" class="btn btn-primary" id="add-new-button">Add new</a>
        </td>
    </tr>
    </tfoot>

</table>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
