<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lesson</title>
</head>
<body>

<p th:text="${lesson.getName()}">VALUE</p>
<p th:text="${lesson.getGroupId()}">VALUE</p>
<p th:text="${lesson.getTeacherId()}">VALUE</p>
<p th:text="${#temporals.format(lesson.getDateTime(), 'dd.MM.yyyy HH:mm')}">VALUE</p>

<a th:href="@{/lessons/{id}/edit(id=${lesson.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/lessons/{id}(id=${lesson.getId()})}">
    <input type="submit" value="Delete!"/>

</form>
</body>
</html>
