<th:block xmlns:th="http//thymeleaf.org" th:fragment="header">
    <div class="container text-center" >
        <div class="btn-group" id="main-menu">
            <a class="btn btn-secondary" href="/" th:href="@{/}">Main</a>
            <a class="btn btn-secondary" href="/students" th:href="@{/students}">Students</a>
            <a class="btn btn-secondary" href="/teachers" th:href="@{/teachers}">Teachers</a>
            <a class="btn btn-secondary" href="/courses" th:href="@{/courses}">Courses</a>
            <a class="btn btn-secondary" href="/groups" th:href="@{/groups}">Groups</a>
            <a class="btn btn-secondary" href="/departments" th:href="@{/departments}">Departments</a>
            <a class="btn btn-secondary" href="/classrooms" th:href="@{/classrooms}">Classrooms</a>
            <a class="btn btn-secondary" href="/lessons" th:href="@{/lessons}">Timetable</a>
        </div>
    </div>
</th:block>
